{% extends "base" %}

{% block content %}
<h2>Conferences</h2>
<ul>
{% for conference in conferences %}
  <li><a href="/conference/{{ conference.id }}">{{ conference.title }}</a>, {{ conference.city }}</li>
{% endfor %}
{% endblock content %}