{% extends "base" %}

{% block content %}
<h2>Submissions</h2>
<ul>
  {% for submission in submissions %}
  <li><a href="/submission/{{ submission.id }}">{{ submission.title }}</a> | {{ submission.first_name }} {{submission.last_name }} | Score: {{ submission.score }}</li>
  {% endfor %}
</ul>
{% endblock content %}